.sliderHero {
  position: relative;
  width: inherit;
}

.sliderHero > img {
  max-width: 100%;
  width: 100vw;
  max-height: calc(100vh - 195px);
  height: calc(100vw / 2);
}
.sliderHero_Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 38%;
  left: 10%;
}

.sliderHero_Text > h1 {
  font-family: Pacifico;
  font-style: Regular;
  font-size: 60px;
  line-height: 105px;
  line-height: 100%;
}

.sliderHero_Text > p {
  font-family: Lato;
  font-style: Regular;
  font-size: 25px;
  line-height: 31px;
  line-height: 100%;
  margin-top: 10px;
  text-align: left;
}

.slideHero_button {
  width: 129px;
  height: 43px;
  margin-top: 25px;
  font-family: Lato;
  font-style: Bold;
  font-size: 14px;
  line-height: 17px;
  line-height: 100%;
  background-color: #000;
  color: #fff;
  border: none;
}

@media only screen and (max-width: 1000px) {
  .sliderHero_Text > h1 {
    font-size: 40px;
  }
  .sliderHero_Text > p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .sliderHero_Text {
    display: none;
  }
}
