.category {
  display: grid;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 3%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  gap: 20px;
  /* row-gap: 20px; */

  /* justify-content: space-between; */
}

@media only screen and (max-width: 800px) {
  .category {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    /* grid-template-rows: 0.5fr 0.25fr; */
  }
}
